# Emacs backup and temporary files.
.#*
*~

# Compiled Ocaml files.
*.cmi
*.cmo

# Pub files.
.pub/
build/
packages
pubspec.lock

# idea ignore
.project
*.iml
*.ipr
*.iws
.idea/
*.dart.js
*.js_
*.js.deps
*.js.map
.buildlog